*{
margin:0;
padding:0;
box-sizing:border-box;
}

html,body{
width:100%;
height:100%;
overflow:hidden;
background:#111;
font-family:tahoma;
touch-action:manipulation;
}

#scene{
position:fixed;
left:0;
top:0;
width:100%;
height:100%;
overflow:hidden;
background:#000;
perspective:1800px;
}

#envelope{
position:absolute;
width:100%;
height:100%;
left:0;
top:0;
}

#back,
#front,
#card{

position:absolute;
left:0;
top:0;

width:100%;
height:100%;

object-fit:cover;

}

#back{

z-index:1;

}

#card{

z-index:2;

transform:translateY(120%);

transition:transform 3s cubic-bezier(.22,.8,.2,1);

}

#front{

z-index:3;

transform-origin:top center;

transition:transform 3s ease;

}

.open #front{

transform:rotateX(-140deg);

}

.open #card{

transform:translateY(0);

}

#playPause{

position:fixed;

right:18px;

bottom:18px;

width:60px;

height:60px;

border-radius:50%;

border:none;

font-size:28px;

background:rgba(0,0,0,.55);

color:#fff;

backdrop-filter:blur(8px);

z-index:999;

}
